.link-header{
  color: #301E0A;
  text-decoration: none;
}

.main-container {
  background-color: #314A4f;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  grid-template-rows: 1fr 6fr 1fr;
}

.header-container{
  background-color: #9ec65d;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

.navigation{
  color: #fdf2ea;
  padding: 10px;
  text-decoration: none;
  &:hover{
    background-color: #9ec65d;
  }
  &:active{
    background-color: #fdf2ea;
    color: #301e0a;
  }
}

.nav-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  font-size: .75rem;

}

.fas{
  color: #fdf2ea;
  font-size: 1rem;
}

.far{
  color: #fdf2ea;
  font-size: 1rem;
}
