.display-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr;
  justify-items: center;
  align-items: start; 
  width: 100%;
  height: 100%;
  margin: 10px;
}

.add-btn {
  margin: 10px;
  padding: 10px;
  width: 70%;
  border-radius: 10px;
  position: relative;
  font-size: 1rem;
  color: #301e0a;
  outline: none;

  &:hover {
    background-color: #9ec65d;
    color: #fdf2ea;

  }
}

.card-area {
  margin: 10px;
  padding: 10px;
  overflow: auto;
}

.fa-plus-square {
  position: absolute;
  right: 10px;
  top: 10px;
}