h3 {
  color: #301E0A;
  line-height: 30px;
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
  line-height: 29px;
}

p {
  font-size: .9rem;
}

.card-container {
  padding: 10px;
  margin: 15px;
  background-color: #768fa0;
  box-shadow: 1px 1px 6px 1px gray;
  color: #fdf2ea;
  position: relative;
}

.fa-edit {
  position: absolute;
  right: 40px;
  top: 10px;
}

 .fa-trash-alt {
  position: absolute;
  right: 10px;
  top: 10px;
}

.image-holder {
  background-color: #C4C4C4;
  opacity: .5;
}
