@import './components/App/App';
@import './components/Schedule/Schedule';
@import './containers/Card/Card';
@import './containers/Display/Display';
@import './containers/Home/Home';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
